body {
  width: 100%;               /* 100% da largura da tela */
  height: 100vh;             /* 100% da altura da tela */
  background-color: #1E90FF; /* Fundo azul como o Sonic */
  text-align: center;        /* Centraliza o texto */
  display: flex;             /* Usa o modelo flexível para alinhar itens */
  align-items: center;       /* Alinha os itens verticalmente ao centro */
  justify-content: center;   /* Alinha os itens horizontalmente ao centro */
  flex-direction: column;    /* Organiza os itens em coluna */
  gap: 16px;                 /* Espaçamento entre os itens */
  color: #fff;             /* Texto branco para contraste */
  background: url(./images/background.jpg); /* Imagem de fundo */
  background-size: cover;   /* Cobrir a tela com a imagem */
  font-family: sans-serif; /* Fonte padrão */
}

#tabuleiro {
  display: grid;                           /* Cria uma grade para as células */
  grid-template-columns: repeat(3, 100px); /* Define 3 colunas de 100px */
  grid-gap: 10px;                          /* Espaçamento entre as células */
  padding: 32px;                          /* Espaçamento interno */
  background: white;                     /* Fundo branco */
  border-radius: 10px;                   /* Borda arredondada */
}
  
.celula {
  width: 100px;                /* Largura de cada célula */
  height: 100px;               /* Altura de cada célula */
  background-color: #fff;    /* Fundo branco para as células */
  font-size: 2rem;             /* Tamanho da fonte dos símbolos */
  display: flex;               /* Ativa o flex para centralizar conteúdo */
  align-items: center;         /* Centraliza verticalmente */
  justify-content: center;     /* Centraliza horizontalmente */
  cursor: pointer;             /* Cursor muda para mãozinha ao passar */
  border-radius: 6px;          /* Borda arredondada */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  border: 1px solid grey;
}

.sonic {
  background-image: url('./images/sonic.png'); /* Imagem do Sonic */
  border-color: #1E90FF; /* Cor da borda */
}

.shadow {
  background-image: url('./images/shadow.png'); /* Imagem do Shadow */
  border-color: red; /* Cor da borda */
}
  
